<div class="location">
  <%= form_tag '/forecast' do %>
    <%= label_tag(:location, "Location:") %>
    <%= text_field_tag(:location, @location) %>
    <%= submit_tag("Go") %>
  <% end %>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Precipitation</th>
  </tr>

  <% @days.each do |day| %>
  <tr>
    <td class="<%= day[:date] == @today ? 'today' : '' %>">
      <%= day[:date] %>
    </td>
    <td><%= day[:precipitation] %> in</td>
  </tr>
  <% end %>
</table>