<div class="location">
  <%= form_tag '/forecast' do %>
    <%= label_tag(:location, "Location:") %>
    <%= text_field_tag(:location, @location) %>
    <%= submit_tag("Go") %>
  <% end %>
</div>

<h1>Should I Water My Lawn Today?</h1>
<div id="main">
  <div id="status"><%= @status %></div>
  <em><%= @long_status %></em>
</div>
<br />

Last Rain:
<% if @last_rain %>
  <%= @last_rain[:precipitation] %> in on <%= @last_rain[:date] %>
<% else %>
  <%= @EVAPORATION_DAYS %> or more days ago
<% end %>
<br />
Lawn saturation: <%= @saturation %> in

<h2>Precipitation Forecast</h2>
<table>
  <tr>
    <th>Today</th>
    <% for day in @days[1..-1] %>
      <th><%= Date::ABBR_DAYNAMES[day[:date].wday] %></th>
    <% end %>
  </tr>

  <tr>
    <% for day in @days %>
      <td><%= day[:precipitation] %> in</td>
    <% end %>
  </tr>
</table>