<div class="location">
  <%= form_tag '/forecast' do %>
    <%= label_tag(:location, "Location:") %>
    <%= text_field_tag(:location, @location) %>
    <%= submit_tag("Go") %>
  <% end %>
</div>

<table>
  <tr>
    <th>Date</th>
    <th>Precipitation</th>
  </tr>

  <% @days.each do |day| %>
  <tr>
    <td class="<%= day[:date] == @today ? 'today' : '' %>">
      <%= day[:date] %>
    </td>
    <td><%= day[:precipitation] %> in</td>
  </tr>
  <% end %>
</table>

Last rain:
<% if @last_rain %>
  <%= @last_rain[:precipitation] %> in on <%= @last_rain[:date] %>
<% else %>
  <%= @EVAPORATION_DAYS %> or more days ago
<% end %>
<br />

Next rain:
<% if @next_rain %>
  <%= @next_rain[:precipitation] %> in on <%= @next_rain[:date] %>
<% else %>
  <%= @EVAPORATION_DAYS %> or more days ago
<% end %>
<br />

Lawn saturation: <%= @saturation %><br />
<br />

<strong>Should I Water My Lawn Today?</strong><br />
<%= @status %><br />
<em><%= @long_status %></em>